.pagination{
    display: flex;
    li{
        color: white;
        background-color: #ec1940;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 4px;
        &:hover{
            background-color: #fd758e;
        }
    }
    a, span{
        font-weight: 700;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    span{
        color: white;
    }
}