.single-feedback{
    display: flex;
    flex-direction: column;
    // position: absolute;
    // left: 50%;
    // top: 40%;
    // transform: translate(-50%, -50%);
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
    // margin-top: 20vh;
    padding-top: 10vh;
    margin: 0px auto;
    margin-bottom: 30px;
    @media screen and (max-width: 425px) {
        width: 90vw;
    }
}
.feedback-person{
    display: flex;
    position: relative;
}
.feedback-image{
    background-color: indigo;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}
.feedback-person-info{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 5px;
    flex-grow: 1;
}
.close-btn{
    border: none;
    background-color: white;
    position: absolute;
    right: 0px;
    cursor: pointer;
}
.feedback-title{
    color: #ec1940;
    margin: 20px 0px;
    font-size: 1.3rem;
}
.single-skill{
    display: flex;
    @media screen and (max-width: 424px) {
        display: block;
    }
}
.skill-name{
    flex-grow: 1;
    color: #7a7e81;
    font-family: Arial, Helvetica, sans-serif;
}
.hide{
    display: none;

}
.show{
    color: #ec1940;
    font-size: 0.8rem;
}

.write-feedback{
    border: none;
    border-bottom: 2px solid #d3d4d5;
    outline: none;
    margin: 5px 0px 25px 0px;
    resize: none;
    // padding-bottom: 5px;
    &::placeholder{
        color: #adadad;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.written{
    border-bottom: 2px solid #ec1940;
}
.submit-feedback{
    text-align: right;
}
.submit-feedback-btn{
    background-color: #ec1940;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 40px;
    font-size: 1.08rem;
    outline: none;
    cursor: pointer;
}




@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/***** Style Star Rating Widget ****/

.rating { 
border: none;
}

.rating > input { display: none; } 
.rating > label:before { 
margin: 5px;
font-size: 1.25em;
font-family: FontAwesome;
display: inline-block;
content: "\f005";
}

.rating > .half:before { 
content: "\f089";
position: absolute;
}

.rating > label { 
color: #ddd; 
float: right; 
}
/**** CSS Magic to Highlight Stars on Hover ****/

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #ec1940;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover  input:checked  label,
.rating > input:checked  label:hover  label { color: #f57089;  } 
