.super-admin-btn{
    background-color: #ec1940;
    border: none;
    border-radius: 4px;
    padding: 3px;
    cursor: pointer;
    margin: 2px;
}
.add{
    cursor: pointer;
}
.admin-tab{
        padding: 10px;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        background-color: #7a7e81;
        color: white;
        &:hover{
            background-color: #aaaaaa;
        }
        @media screen and (max-width: 425px) {
            padding: 5px;
        }
    }
.tabs{
    margin-bottom: 9px;
    @media screen and (max-width: 425px) {
        font-size: 0.8rem;
        margin: 4px;
        padding: 0px;
    }
}
.media-super-tab{
    @media screen and (max-width: 768px) {
        width: auto;
    }
}
.current-tab{
    background-color: #22282d;
}
.search-company{
    width: max-content;
}
.media-companies-list > p{
    display: flex;
    @media screen and (max-width: 425px) {
        display: block;
    }
}
.dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin: auto 5px;
    cursor: help;
}
.dot-red {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: auto 5px;
    cursor: help;
}
.superadmin-modal{
    display: block;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.edit-modal{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.edit-title{
    background-color: #7a7e81;
    font-size: 1.3rem;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin-top: 100px;
    @media screen and (max-width: 425px) {
        width: 100vw;
    }
    @media screen and (max-width: 769px) {
        width: 100%;
    }
}
.edit-form{
    background-color: rgb(209, 209, 209);
    display: grid;
    width: 30vw;
    @media screen and (max-width: 768px) {
        width: auto;
        text-align: center;
        justify-items: center;
    }
}
.edit-btn{
    position: relative;
}
.media-list{
    display:flex;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.superadmin-media-user{
    @media screen and (max-width: 768px) {
        display: block;
    }
}