// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.app-body {
    background-color: white;
    display: flex;
    min-height: 100%;
    font-family: sans-serif;
    position: relative;
}

.feedback-app-navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #22282d;
    padding: 40px;
    height: 100%;
    color: white;
    font-size: 16px;
    width: 250px;
    transition: opacity ease-in .1s .7s, max-height ease-in-out .8s;
    z-index: 1;
    @media(max-width: 900px) {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        max-height: 0%;
        overflow: hidden;
        opacity: 0;
        height: auto;
        padding-bottom: 20px;
    }
}

.feedback-app-navbar-title {
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    @media (max-width: 900px) {
       margin-top: 20px;
       margin-left: 20px;
    }
    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.feedback-app-logo {
    width: 40px;
    margin-right: 20px;
    @media (max-width: 400px) {
        width: 25px;
        margin-right: 10px;
    }
}

.feedback-app-navbar-profile-container {
    font-size: 16px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
        margin-left: auto;
        margin-bottom: 0;
        margin-right: 20px;
        margin-top: 20px;
        flex-direction: row-reverse;
        text-align: right;
    }
    @media (max-width: 400px) {
        font-size: 12px;
    }
}

.feedback-app-profile-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    @media (max-width: 900px) {
        margin-right: 0;
        margin-left: 20px;
    }
    @media (max-width: 400px) {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

}

.feedback-app-navbar-profile-name {
    cursor: pointer;
    user-select: none;
    z-index: 1;
    &:hover {
        text-decoration: underline;
    }
}

.feedback-app-navbar-profile-logout {
    font-size: 12px;
    margin-top: 8px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 400px) {
        margin-top: 2px;
    }
}


.feedback-app-navbar-teammates-search-container {
    @media (max-width: 900px) {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
    }
}

.feedback-app-navbar-your-teammates {
    color: #a7a9ab;
    font-size: 16px;
    margin-bottom: 10px;
    @media (max-width: 900px) {
        display: none;
    }
}

.feedback-app-navbar-your-teammates-checkbox {
    display: none;
    &:checked ~ .feedback-app-navbar-your-teammates-label {
        .your-teammates-label-arrow {
            transform: rotate(180deg);
        }
    }
    &:checked ~ .feedback-app-navbar-search-and-users-list-container {
        max-height: 100vh;
    }
}

.feedback-app-navbar-your-teammates-label {
    display: none;
    user-select: none;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    color: #a7a9ab;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #616161;    
    transition:  all ease-in-out .8s;
    &:hover {
        background-color: #383d42;
    }    
    @media (max-width: 900px) {
        display: flex;
    }
}

.your-teammates-label-arrow {
    display: block;
    font-weight: bold;
    margin-left: auto;
    transition:  all ease-in-out .5s;
}

.feedback-app-navbar-search-and-users-list-container {
    @media (max-width: 900px) {
        border: 2px solid #616161;
        border-top: none;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out .5s;
    }
}

.feedback-app-navbar-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #616161;

}

.feedback-app-navbar-search-icon {
    max-width: 40px;
}

.feedback-app-search-input {
    background-color: transparent;
    border: none;
    color: #616161;
    padding: 10px;
    margin-left: -10px;
    outline: none;
    font-size: 14px;
    width: 80%;
    @media (max-width: 900px) {
        width: 100%;
        padding: 10px;
    }
}

.feedback-app-navbar-users-list {
    list-style: none;
    overflow-y: auto;
    height: 500px;
    width: 100%;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: #424242;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #9e9e9e;
    }
    @media (max-width: 900px) {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &::-webkit-scrollbar {
            width: 4px;
        }
    }
}

.feedback-app-navabar-users-list-item {
    padding: 25px;
    padding-left: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color ease-in-out .2s;
    background-color: transparent;
    &:hover {
        background-color: #383d42 !important;
    }
    @media (max-width: 900px) {
        flex-direction: column;
        font-size: 14px;
        width: 130px;
        padding: 10px;
        margin: 5px;
        border: 1px solid #616161;
        border-radius: 3px;
    }
}

.reviewed {
    display: none;
}

.feedback-app-navbar-users-list-image {
    margin-right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    @media (max-width: 900px) {
        width: 25px;
        height: 25px;
        margin-right: 0;
        margin-bottom: 5px;

    }
}

.feedback-app-navbar-users-list-reviewed {
    width: 25px;
    height: 25px;
    margin-left: auto;
    display: none;
}

.feedback-app-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    @media (max-width: 900px) {
        margin-left: auto;
    }
}

.navbar-mobile-checkbox {
    display: none;
    &:checked + .feedback-app-navbar {
        max-height: 100vh;
        opacity: 1;
        transition: opacity ease-in .1s, max-height ease-in-out .8s;
    }
}

.feedback-app-navbar-dropdown-label {
    display: none;
    cursor: pointer;
    max-width: 75px;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
    user-select: none;
    @media (max-width: 900px) {
        display: block;
    }
}

.feedback-app-navbar-dropdown-icon {
    width:100%;
}

.profile-all-forms-container {
    width: 60%;
    display: flex;
    justify-content: center;
    @media (max-width: 900px) {
        width: 90%;
    }
}

.profile-form-container {
    display: none;
    flex-direction: column;
    width: 100%;
}

.feedback-app-navbar-dropdown-label-close {
    font-weight: bold;
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    border: 2px solid #616161;
    width: 25px;
    height: 25px;
    padding-bottom: 1px;
    border-radius: 50%;
    color: #616161;
    margin-left: auto;
    margin-right: 20px;
    @media (max-width: 900px) {
        display: flex;
    }
    
}

.profile-form-name-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.profile-form-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    @media (max-width: 900px) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
}

.profile-form-name-container {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (max-width: 900px) {
        font-size: 14px;
    }
}

.profile-form-name {
    display: flex;
}

.profile-form-name-profession {
    font-size: 14px;
    margin-top: 7px;
    color: #7a7e81;
    @media (max-width:900px){
        margin-top: 0;
    }
}

.profile-form-esc-x-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4e5357;
}

.profile-form-name-x-button {
    cursor: pointer;
    user-select: none;
    justify-content: left;
    align-items: center;
    font-size: 18px;
    &:hover {
        color: black;
    }
}

.profile-form-name-esc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.profile-form-provide-feedback {
    font-size: 20px;
    color: #ec1940;
}

.profile-form-personal-skills {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.feedback-list-container {
    list-style: none;
}

.feedback-list-item {
    display: flex;
    align-items: center;
    color: #7a7e81;
    font-size: 16px;
    margin-bottom: 10px;
}

///// FEEDBACK LIST STARS //////

@mixin starsOuter {
    position: relative;
    cursor: pointer;
    color: #e8e9ea;
    font-size: 30px;
    &::after {
        content: "\2605";
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all ease-in-out .3s;
    }
}

@mixin starsInner {
    &::after{
        color: #ec1940;
        opacity: 1;
    }
}

.feedback-list-stars-container {
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    letter-spacing: 10px;
}

.star-5 {
    @include starsOuter();
    &:hover {
        @include starsInner();
    }
    &:hover ~ .stars-label{
        @include starsInner();
    }
}
.star-4 {
    @include starsOuter();
    &:hover {
        @include starsInner();
    }
    &:hover ~ .stars-label {
        @include starsInner();
    }
}

.star-3 {
    @include starsOuter();
    &:hover {
        @include starsInner();
    }
    &:hover ~ .stars-label {
        @include starsInner();
    } 
}

.star-2 {
    @include starsOuter();
    &:hover {
        @include starsInner();
    }
    &:hover ~ .star-1 {
        @include starsInner();
    }
}

.star-1 {
    @include starsOuter();
    &:hover {
        @include starsInner();
    }
}

.stars-radio-5 {
    display: none;
    &:checked ~ .stars-label {
        @include starsInner();
        &:hover:not(.star-5) {
            &::after {
                color: #ff7d95;
            }
        }
        &:hover:not(.star-5) ~ .stars-label {
            &::after {
                color: #ff7d95;
            }
        }
    }
}

.stars-radio-4 {
    display: none;
    &:checked ~ .stars-label:not(.star-5) {
        @include starsInner();
    }
    &:checked ~ .stars-label {
        &:hover:not(.star-4) {
            &::after {
                color: #ff7d95;
            }
        }
        &:hover:not(.star-4) ~ .stars-label {
            &::after {
                color: #ff7d95;
            }
        }
    }
}

.stars-radio-3 {
    display: none;
    &:checked ~.stars-label:not(.star-5):not(.star-4) {
        @include starsInner();
    }
    &:checked ~ .stars-label {
        &:hover:not(.star-3) {
            &::after {
                color: #ff7d95;
            }
        }

        &:hover:not(.star-3) ~ .stars-label {
            &::after {
                color: #ff7d95;
            }
        }
    }
}

.stars-radio-2 {
    display: none;
    &:checked ~ .star-2 {
        @include starsInner();
    }
    &:checked ~ .star-1 {
        @include starsInner();
    }
    &:checked ~ .stars-label {
        &:hover:not(.star-2) {
            &::after {
                color: #ff7d95;
            }
        }
        &:hover:not(.star-2) ~ .stars-label {
            &::after {
                color: #ff7d95;
            }
        }
    }
}

.stars-radio-1 {
    display: none;
    &:checked ~ .star-1 {
        @include starsInner()
    }
    &:checked ~ .stars-label {
        &:hover:not(.star-1) {
            &::after {
                color: #ff7d95;
            }
        }
        &:hover:not(.star-1) ~ .stars-label {
            &::after {
                color: #ff7d95;
            }
        }
    }
}
///// FEEDBACK LIST STARS //////

.profile-form-write-a-feedback {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile-form-feedback-textarea-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.profile-form-feedback-textarea-label {
    color: #ec1940;
    font-size: 14px;
    transition: all ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
}

.feedback-textarea {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 4px solid #d3d4d5;
    font-size: 16px;
    font-family: sans-serif;
    resize: none;
    overflow: hidden;
    margin-top: 15px;
    transition: border ease-in-out .3s;
}

.profile-form-submit-button {
    cursor: pointer;
    user-select: none;
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 35px;
    margin-bottom: 25px;
    margin-left: auto;
    background-color: #ec1940;
    color: white;
    &:hover {
        background-color: #ff7d95;
    }
}


.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-form-title {
    color: #616161;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.login-form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 900px) {
        margin: auto;
        width: 90%;
    }
    
}

.login-form-input-label {
    color: #ec1940;
    font-size: 14px;
    margin-top: 5px;
    transition: all ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
}

.login-form-input {
    padding: 5px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 4px solid #d3d4d5;
    font-size: 18px;
    font-family: sans-serif;
    overflow: hidden;
    margin-bottom: 25px;
    transition: border ease-in-out .3s;
}

.login-form-submit {
    background-color: #ec1940;
    user-select: none;
    color: white;
    width: 200px;
    padding: 10px;
    margin-left: auto;
    margin-top: 15px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 2px;
    &:hover {
        background-color: #ff7d95;
    }
    @media (max-width: 900px) {
        margin-right: 15px;
    }
}

.logged-user-container {
    width: 100%;
    margin-bottom: 250px;
    display: none;
    @media (max-width: 900px){
        width: 90%;
        margin-bottom: auto;
    }
}

.logged-user-average-score-container {
    display: flex;
    flex-direction: column;
}

.logged-user-average-score {
    color: #7a7e81;
    font-size: 14px;
    margin-bottom: 10px;
    @media (max-width:900px) {
        margin-bottom: 0;
        font-size: 12px;
    }
    @media (max-width: 420px) {
        font-size: 11px;
    }
}

.logged-user-stars-contianer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: 20px;
    @media (max-width: 900px) {
        font-size: 25px;
    }
    @media (max-width: 420px) {
        font-size: 20px;
    }
}

.logged-user-stars-container-overall {
    @media (max-width: 420px){
        flex-direction: column;       
    }
}

.logged-user-stars-rating {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 10px;
}

.logged-user-stars-rating-overall {
    font-size: 40px;
    margin-right: 10px;
    @media (max-width: 900px) {
        font-size: 30px;
        margin-bottom: 0;
    }
}

.stars-layer-1-overall {
    @media (max-width: 420px) {
        margin-bottom: 25px;
        margin-top: -5px;
    }
}

.stars-layer-1 {
    position: relative;
    display: inline-block;
    color: #e8e9ea;
    &::before {
        content: "\2606 \2606 \2606 \2606 \2606";
    }
}
.stars-layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    color: #ec1940;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    &::before {
        content: "\2606 \2606 \2606 \2606 \2606";
    }
}
.stars-layer-3 {
    position: absolute;
    top: 0;
    left: 0;
    color: #ec1940;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    &::before {
        content: "\2605 \2605 \2605 \2605 \2605";
    }
}

.logged-user-feddback-summary {
    color: #ec1940;
    font-size: 20px;
}

.logged-user-feedbacks-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feedbacks-checkbox {
    display: none;
    &:checked + .feedbacks-checkbox-label  {
        .feedbacks-checkbox-label-down-arrow {
            transform: rotate(180deg);
        }    
    }
    &:checked ~ .logged-user-all-feedbacks {
        max-height: 1000vh;
        transition: all ease-in-out 1.5s;
    }
}

.feedbacks-checkbox-label {
    font-size: 20px;
    border-bottom: 2px solid #d3d4d5;
    border-radius: 2px;
    padding: 5px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: background-color ease-in-out .2s;
    &:hover {
        background-color: #afafaf;
    }
}

.feedbacks-checkbox-label-down-arrow {
    margin-left: auto;
    margin-right: 15px;
    width: 15px;
    transition: transform ease-in-out .8s;
}

.logged-user-all-feedbacks {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .8s;
}

.logged-user-feedback {
    display: flex;
    flex-direction: column;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 25px;
}

.feedbacks-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedbacks-user-profession {
    font-size: 14px;
    margin-top: 3px;
    color: #7a7e81;
}

.feedbacks-user-rating {
    color: #7a7e81;
    font-size: 25px;
    margin-top: 5px;
}

.feedbacks-comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.feedbacks-comment-type {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.feedback-comment-list-bullet {
    margin-right: 10px;
    max-width: 25px;
}

.feedbacks-comment-text {
    margin-left: 35px;
    font-size: 16px;
    margin-top: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.feedback-status {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    @media (max-width: 900px) {
        margin: auto;
    }
}

.feedback-status-accepted {
    display: none;
}

.feedback-status-image {
    width: 75px;
    margin-bottom: 30px;
}

.feedback-status-title {
    color: #4e5357;
    font-size: 50px;
    margin-bottom: 30px;
}

.feedback-status-text {
    color: #7a7e81;
}




//// ADMIN /////

.admin-profile-form-container {
    display: flex;
    flex-direction: column;
}

.admin-profile-form-title {
    color: #ec1940;
    user-select: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.company-users-table-container {
    position: relative;
    margin-bottom: 25px;
}

.company-users-table {
    border-collapse: collapse; 
    border-spacing: 0;

}

.company-users-table-container {
    max-height: 250px;
    overflow: hidden;
    padding-top: 16px;
    border: 1px solid #cccccc;
}

.company-users-table-scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.company-users-table-head {
    text-align: left;
}

.company-users-table-head-content {
    text-align: left;
    span {
        position: absolute;
        top: 0;
        background-color: white;
        width: 100%;
        display: block;
        border-left: solid 1px #cccccc;
        border-bottom: solid 1px #cccccc;
        padding-left: 5px;
        letter-spacing: 1px;
        text-align: left;   
        color: #7a7e81;
        font-weight: bold;
        z-index: 1;
    }
}

.company-users-table-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.company-users-table-body-row {
    border-bottom: 1px solid #cccccc;
}
.company-users-table-body-data {
    border-left: 1px solid #cccccc;
    text-align: center;
    color: #7a7e81;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
}

.user-status-checkbox {
    display: none;
    &:checked + .user-status-toggle-outer {
        background-color: #ec1940;

        .user-status-toggle-inner {
            transform: translate(20px);
        }
    }
}

.user-status-toggle-outer {
    cursor: pointer;
    display: block;
    background-color: gray;
    width: 45px;
    height: 25px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    transition: background-color ease-in-out .3s;
}

.user-status-toggle-inner {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 2px;
    left: 2px;
    transition: transform ease-in-out .3s;
}

.users-table-button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: #ec1940;
    color: white;
    &:hover {
        background-color: #ff7d95;
    }
}

.users-table-center {
    text-align: center;
}


.admin-edit-user-form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .5s;
}


.admin-edit-user-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #363636;
}

.admin-edit-user-form-close {
    display: block;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}

.admin-edit-user-form-title {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ec1940;
}

.admin-edit-user-form-button {
    background-color: #ec1940;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    margin-top: 15px;
    &:hover {
        background-color: #ff7d95;
    }
    
}

.admin-options-container {
    display: flex;
    flex-direction: row;
}

.admin-add-new-user-form {
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.admin-forms-title {
    font-size: 20px;
    color: #ec1940;
    user-select: none;
    margin-bottom: 20px;
}

.admin-user-input {
    padding: 5px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 3px solid #d3d4d5;
    font-size: 16px;
    font-family: sans-serif;
    overflow: hidden;
    transition: border ease-in-out .3s;
}

.admin-user-edit-error {
    color: #5569d8;
    font-size: 14px;
    font-weight: bold;
    max-height: 0;
    margin-top: 5px;
    overflow: hidden;
    transition: max-height ease-in-out .5s;
}

.admin-user-input-label {
    color: #ec1940;
    user-select: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    transition: all ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
}

.admin-user-input-label-visible {
    opacity: 1;
    visibility: visible;
}

.admin-add-new-user-select {
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background-color: #ec1940;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    max-width: 300px;
    margin-bottom: 20px;
}

.admin-add-new-user-select-label {
    user-select: none;
    color: #ec1940;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.admin-add-new-user-image-upload {
    display: none;
}

.admin-add-new-user-image-upload-custom {
    font-size: 16px;
    color: white;
    background-color: #ec1940;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    max-width: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:hover {
        background-color: #ff7d95;
    }
}

.admin-add-new-user-image-upload-icon {
    width: 20px;
    margin-left: auto;
}

.admin-add-new-user-button {
    cursor: pointer;
    user-select: none;
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 25px;
    margin-left: auto;
    background-color: #ec1940;
    color: white;
    &:hover {
        background-color: #ff7d95;
    }
}


.admin-stats-time-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.admin-user-stats-container {
    display: flex;
    flex-direction: column;
}

.admin-user-stats {
    display: flex;
    font-size: 20px;
    color: #7a7e81;
    margin-top: 30px;
}

.admin-user-stats-info {
    margin-left: auto;
    color: #ec1940;
}

.admin-feedback-time-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.admin-feedback-time-form-select-container {
    display: flex;
    align-items: center;
}

.admin-feedback-time-form-select {
    cursor: pointer;
    outline: none;
    font-size: 18px;
    background-color: #ec1940;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    max-width: 300px;
}

.admin-feedback-time-form-button {
    cursor: pointer;
    user-select: none;
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background-color: #ec1940;
    color: white;
    &:hover {
        background-color: #ff7d95;
    }
}

//// ADMIN /////


//// SUPER ADMIN /////
    
.super-admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.super-admin-welcome {
    margin-bottom: 25px;
    color: #ec1940;
}

.superadmin-forms-container {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
    border-top-left-radius: 0;
    padding: 25px;
    height: 750px;
    margin-top: 25px;
    margin-bottom: auto;
    background-color: white;
    z-index: 1;
}

.navigation-radio {
    display: none;
    &:checked + .navigation-div {
        display: flex;
    } 
}

.super-admin-navigation-bar {
    position: absolute;
    display: flex;
    align-items:flex-end;
    height: 35px;
    flex-direction: row;
    top: -34px;
    left: -1px;
    z-index: 0;
}

.navigation-label {
    background-color: white;
    color: #7a7e81;
    border: 1px solid #cccccc;
    margin-right: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    margin-top: auto;
    max-height: 0;
    overflow: hidden;
    display: block;
    transition: max-height ease-in-out .5s;
    user-select: none;
    cursor: pointer;
    &:hover {
        max-height: 100vh;
    }
    
}

.nav-label-selected {
    color: #ec1940;
    max-height: 100vh;
}

.navigation-div {
    display: none;
    flex-direction: column;
}
 
.super-admin-titles {
    margin-bottom: 35px;
    color: #7a7e81;
}

.super-admin-input {
    padding: 5px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom: 3px solid #d3d4d5;
    font-family: sans-serif;
    overflow: hidden;
    transition: border ease-in-out .3s;
}

.super-admin-button {
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ec1940;
    outline: none;
    &:hover {
        background-color: #ff7d95;
    }
}

.add-a-company-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-a-company-input {
    margin-right: auto;
    width: 80%;
}

.super-admin-search-company {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.all-companies-container {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.super-admin-company-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
}

.super-admin-company-input {
    padding: 0;
    padding: 5px;
    padding-right: 10px;
    margin-left: 25px;
    width: 30%;
    font-size: 14px;
}

.super-admin-company-name {
    font-size: 18px;
    margin-right: 25px;
    color: #ec1940;
    width: 20%;
}

.super-admin-company-activity {
    margin-right: auto;
    color: #5569d8;
    width: 50px;
}

.super-admin-company-checkbox {
    display:none;
    &:checked + .super-admin-toggle-outer {
        background-color: #ec1940;

        .super-admin-toggle-inner {
            transform: translate(20px);
        }
    }
}

.super-admin-toggle-outer {
    cursor: pointer;
    display: block;
    background-color: gray;
    width: 45px;
    height: 25px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    transition: background-color ease-in-out .3s;
}

.super-admin-toggle-inner {
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: 2px;
    left: 2px;
    transition: transform ease-in-out .3s;
}

.super-admin-company-button {
    margin-left: auto;
}

.super-admin-add-admins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.super-admin-add-admin-title {
    margin-bottom: 10px;
    color: #7a7e81;
    width: 100%;
}

.add-admin-label {
    font-size: 14px;
    color: #ec1940;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .5s;
}

.add-admin-label-visible {
    font-size: 14px;
    color: #ec1940;
    margin-bottom: 5px;
}

.add-admin-input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: auto;
}

.add-admin-email-container {
    width: 95%;
}

.add-admin-select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.super-admin-add-admins-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #d3d4d5;
    outline: none;
    transition: all ease-in-out .5s;
}

.super-admin-add-admin-error {
    display: block;
    font-size: 12px;
    color: #5569d8;
    opacity: 0;
    visibility: hidden;
    margin-top: -10px;
    max-height: 0;
    margin-bottom: 20px;
    transition: all ease-in-out .5s;

}

.super-admin-add-admins-select {
    color: white;
    font-size: 16px;
    background-color: #ec1940;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 5px;
    max-width: 250px;
    margin-bottom: 15px;
}

.super-admin-add-admin-button {
    width: 350px;
    margin-left: auto;
}


.super-admin-all-admins {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.super-admin-admin-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.super-admin-admin-name {
    color: #ec1940;
    width: 160px;
    margin-right: 5px;
}

.super-admin-admin-email {
    width: 250px;
    margin:auto;
    color: #ec1940;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.super-admin-admin-company-name {
    color: #5569d8;
    width: 100px;
    margin-right: auto;
}

.super-admin-admins-button {
    margin-right: 15px;
}


.edit-admin-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out .5s;
}

.edit-admin-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 4px 4px 8px black;
    border-radius: 5px; 
    min-width: 500px;
}


.edit-admin-input {
    margin-bottom: 15px;
}

.edit-admin-form-close {
    margin-left: auto;
    user-select: none;
    cursor: pointer;
}
//// SUPER ADMIN /////