@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.app-body {
  background-color: white;
  display: flex;
  min-height: 100%;
  font-family: sans-serif;
  position: relative;
}

.feedback-app-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #22282d;
  padding: 40px;
  height: 100%;
  color: white;
  font-size: 16px;
  width: 250px;
  transition: opacity ease-in 0.1s 0.7s, max-height ease-in-out 0.8s;
  z-index: 0;
}

@media (max-width: 900px) {
  .feedback-app-navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    max-height: 0%;
    overflow: hidden;
    opacity: 0;
    height: auto;
    padding-bottom: 20px;
    z-index: 10;
  }
}

.feedback-app-navbar-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .feedback-app-navbar-title {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .feedback-app-navbar-title {
    font-size: 12px;
  }
}

.feedback-app-logo {
  width: 40px;
  margin-right: 20px;
}

@media (max-width: 400px) {
  .feedback-app-logo {
    width: 25px;
    margin-right: 10px;
  }
}

.feedback-app-navbar-profile-container {
  font-size: 16px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .feedback-app-navbar-profile-container {
    margin-left: auto;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 20px;
    flex-direction: row-reverse;
    text-align: right;
  }
}

.feedback-app-profile-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .feedback-app-profile-avatar {
    margin-right: 0;
    margin-left: 20px;
  }
}

.feedback-app-navbar-profile-name {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.feedback-app-navbar-profile-name:hover {
  text-decoration: underline;
}

.feedback-app-navbar-profile-logout {
  font-size: 12px;
  margin-top: 8px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-app-navbar-profile-logout:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .feedback-app-navbar-profile-logout {
    margin-top: 2px;
  }
}

@media (max-width: 900px) {
  .feedback-app-navbar-teammates-search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
  }
}

.feedback-app-navbar-your-teammates {
  color: #a7a9ab;
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .feedback-app-navbar-your-teammates {
    display: none;
  }
}

.feedback-app-navbar-your-teammates-checkbox {
  display: none;
}

.feedback-app-navbar-your-teammates-checkbox:checked ~ .feedback-app-navbar-your-teammates-label .your-teammates-label-arrow {
  transform: rotate(180deg);
}

.feedback-app-navbar-your-teammates-checkbox:checked ~ .feedback-app-navbar-search-and-users-list-container {
  max-height: 100vh;
}

.feedback-app-navbar-your-teammates-label {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  color: #a7a9ab;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #616161;
  transition: all ease-in-out 0.8s;
}

.feedback-app-navbar-your-teammates-label:hover {
  background-color: #383d42;
}

@media (max-width: 900px) {
  .feedback-app-navbar-your-teammates-label {
    display: flex;
  }
}

.your-teammates-label-arrow {
  display: block;
  font-weight: bold;
  margin-left: auto;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 900px) {
  .feedback-app-navbar-search-and-users-list-container {
    border: 2px solid #616161;
    border-top: none;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.5s;
  }
}

.feedback-app-navbar-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 1px solid #616161;
}

.feedback-app-navbar-search-icon {
  max-width: 40px;
}

.feedback-app-search-input {
  background-color: transparent;
  border: none;
  color: #616161;
  padding: 10px;
  margin-left: -10px;
  outline: none;
  font-size: 14px;
  width: 80%;
}

@media (max-width: 900px) {
  .feedback-app-search-input {
    width: 100%;
    padding: 10px;
  }
}

.feedback-app-navbar-users-list {
  list-style: none;
  overflow-y: auto;
  height: 500px;
  width: 100%;
}

.feedback-app-navbar-users-list::-webkit-scrollbar {
  width: 8px;
}

.feedback-app-navbar-users-list::-webkit-scrollbar-track {
  background-color: #424242;
}

.feedback-app-navbar-users-list::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
}

@media (max-width: 900px) {
  .feedback-app-navbar-users-list {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .feedback-app-navbar-users-list::-webkit-scrollbar {
    width: 4px;
  }
}

.feedback-app-navabar-users-list-item {
  padding: 25px;
  padding-left: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color ease-in-out 0.2s;
  background-color: transparent;
}

.feedback-app-navabar-users-list-item:hover {
  background-color: #383d42 !important;
}

@media (max-width: 900px) {
  .feedback-app-navabar-users-list-item {
    position: relative;
    flex-direction: column;
    font-size: 14px;
    width: 130px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #616161;
    border-radius: 3px;
  }
}

.reviewed {
  display: none;
}

.feedback-app-navbar-users-list-image {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .feedback-app-navbar-users-list-image {
    width: 25px;
    height: 25px;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.feedback-app-navbar-users-list-reviewed {
  width: 25px;
  height: 25px;
  margin-left: auto;
  display: none;
}

@media (max-width: 900px) {
  .feedback-app-navbar-users-list-reviewed {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.feedback-app-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

@media (max-width: 900px) {
  .feedback-app-main {
    margin-left: auto;
  }
}

.navbar-mobile-checkbox {
  display: none;
}

.navbar-mobile-checkbox:checked + .feedback-app-navbar {
  max-height: 100vh;
  opacity: 1;
  transition: opacity ease-in 0.1s, max-height ease-in-out 0.8s;
}

.feedback-app-navbar-dropdown-label {
  display: none;
  cursor: pointer;
  max-width: 75px;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 900px) {
  .feedback-app-navbar-dropdown-label {
    display: block;
  }
}

.feedback-app-navbar-dropdown-icon {
  position: absolute;
  display: none;
  top: 5px;
  right: 0;
  width: 75px;
}

@media (max-width: 900px) {
  .feedback-app-navbar-dropdown-icon {
    display: block;
  }
}

.profile-all-forms-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  .profile-all-forms-container {
    width: 90%;
  }
}

.profile-form-container {
  display: none;
  flex-direction: column;
  width: 100%;
}

.feedback-app-navbar-dropdown-label-close-container {
  display: none;
  width: 100%;
}

@media (max-width: 900px) {
  .feedback-app-navbar-dropdown-label-close-container {
    display: flex;
  }
}

.feedback-app-navbar-dropdown-label-close {
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border: 2px solid #616161;
  width: 25px;
  height: 25px;
  padding-bottom: 1px;
  border-radius: 50%;
  color: #616161;
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .feedback-app-navbar-dropdown-label-close {
    display: flex;
  }
}

.profile-form-name-image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-form-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .profile-form-image {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}

.profile-form-name-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 900px) {
  .profile-form-name-container {
    font-size: 14px;
  }
}

.profile-form-name {
  display: flex;
}

.profile-form-name-profession {
  font-size: 14px;
  margin-top: 7px;
  color: #7a7e81;
}

@media (max-width: 900px) {
  .profile-form-name-profession {
    margin-top: 0;
  }
}

.profile-form-esc-x-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e5357;
}

.profile-form-name-x-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  justify-content: left;
  align-items: center;
  font-size: 18px;
}

.profile-form-name-x-button:hover {
  color: black;
}

.profile-form-name-esc {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.profile-form-provide-feedback {
  font-size: 20px;
  color: #ec1940;
}

@media (max-width: 450px) {
  .profile-form-provide-feedback {
    text-align: center;
  }
}

.profile-form-personal-skills {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media (max-width: 450px) {
  .profile-form-personal-skills {
    text-align: center;
  }
}

.feedback-list-container {
  list-style: none;
}

.feedback-list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #7a7e81;
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .feedback-list-item {
    flex-direction: column;
    justify-content: center;
  }
}

.feedback-list-stars-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  letter-spacing: 10px;
}

@media (max-width: 450px) {
  .feedback-list-stars-container {
    margin: auto;
  }
}

.star-5 {
  position: relative;
  cursor: pointer;
  color: #e8e9ea;
  font-size: 30px;
}

.star-5::after {
  content: "\2605";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.star-5:hover::after {
  color: #ec1940;
  opacity: 1;
}

.star-5:hover ~ .stars-label::after {
  color: #ec1940;
  opacity: 1;
}

.star-4 {
  position: relative;
  cursor: pointer;
  color: #e8e9ea;
  font-size: 30px;
}

.star-4::after {
  content: "\2605";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.star-4:hover::after {
  color: #ec1940;
  opacity: 1;
}

.star-4:hover ~ .stars-label::after {
  color: #ec1940;
  opacity: 1;
}

.star-3 {
  position: relative;
  cursor: pointer;
  color: #e8e9ea;
  font-size: 30px;
}

.star-3::after {
  content: "\2605";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.star-3:hover::after {
  color: #ec1940;
  opacity: 1;
}

.star-3:hover ~ .stars-label::after {
  color: #ec1940;
  opacity: 1;
}

.star-2 {
  position: relative;
  cursor: pointer;
  color: #e8e9ea;
  font-size: 30px;
}

.star-2::after {
  content: "\2605";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.star-2:hover::after {
  color: #ec1940;
  opacity: 1;
}

.star-2:hover ~ .star-1::after {
  color: #ec1940;
  opacity: 1;
}

.star-1 {
  position: relative;
  cursor: pointer;
  color: #e8e9ea;
  font-size: 30px;
}

.star-1::after {
  content: "\2605";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
}

.star-1:hover::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-5 {
  display: none;
}

.stars-radio-5:checked ~ .stars-label::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-5:checked ~ .stars-label:hover:not(.star-5)::after {
  color: #ff7d95;
}

.stars-radio-5:checked ~ .stars-label:hover:not(.star-5) ~ .stars-label::after {
  color: #ff7d95;
}

.stars-radio-4 {
  display: none;
}

.stars-radio-4:checked ~ .stars-label:not(.star-5)::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-4:checked ~ .stars-label:hover:not(.star-4)::after {
  color: #ff7d95;
}

.stars-radio-4:checked ~ .stars-label:hover:not(.star-4) ~ .stars-label::after {
  color: #ff7d95;
}

.stars-radio-3 {
  display: none;
}

.stars-radio-3:checked ~ .stars-label:not(.star-5):not(.star-4)::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-3:checked ~ .stars-label:hover:not(.star-3)::after {
  color: #ff7d95;
}

.stars-radio-3:checked ~ .stars-label:hover:not(.star-3) ~ .stars-label::after {
  color: #ff7d95;
}

.stars-radio-2 {
  display: none;
}

.stars-radio-2:checked ~ .star-2::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-2:checked ~ .star-1::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-2:checked ~ .stars-label:hover:not(.star-2)::after {
  color: #ff7d95;
}

.stars-radio-2:checked ~ .stars-label:hover:not(.star-2) ~ .stars-label::after {
  color: #ff7d95;
}

.stars-radio-1 {
  display: none;
}

.stars-radio-1:checked ~ .star-1::after {
  color: #ec1940;
  opacity: 1;
}

.stars-radio-1:checked ~ .stars-label:hover:not(.star-1)::after {
  color: #ff7d95;
}

.stars-radio-1:checked ~ .stars-label:hover:not(.star-1) ~ .stars-label::after {
  color: #ff7d95;
}

.profile-form-write-a-feedback {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .profile-form-write-a-feedback {
    text-align: center;
  }
}

.profile-form-feedback-textarea-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.profile-form-feedback-textarea-label {
  color: #ec1940;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
}

.feedback-textarea {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 4px solid #d3d4d5;
  font-size: 16px;
  font-family: sans-serif;
  resize: none;
  overflow: hidden;
  margin-top: 15px;
  transition: border ease-in-out 0.3s;
}

.profile-form-submit-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: auto;
  background-color: #ec1940;
  color: white;
}

.profile-form-submit-button:hover {
  background-color: #ff7d95;
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1350px) {
  .login-form-container {
    margin-left: 250px;
  }
}

@media (max-width: 900px) {
  .login-form-container {
    margin: auto;
  }
}

.login-form-title {
  color: #616161;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 15px;
}

@media (max-width: 1350px) {
  .login-form-title {
    font-size: 40px;
  }
}

.login-form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-form-input-label {
  color: #ec1940;
  font-size: 14px;
  margin-top: 5px;
  transition: all ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
}

.login-form-input {
  padding: 5px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 4px solid #d3d4d5;
  font-size: 18px;
  font-family: sans-serif;
  overflow: hidden;
  margin-bottom: 25px;
  transition: border ease-in-out 0.3s;
}

.login-form-submit {
  background-color: #ec1940;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  width: 200px;
  padding: 10px;
  margin-left: auto;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.login-form-submit:hover {
  background-color: #ff7d95;
}

@media (max-width: 900px) {
  .login-form-submit {
    margin-right: 15px;
  }
}

.logged-user-container {
  width: 100%;
  display: none;
  margin: auto;
  margin-bottom: 250px;
}

@media (max-width: 900px) {
  .logged-user-container {
    width: 90%;
  }
}

.logged-user-average-score-container {
  display: flex;
  flex-direction: column;
}

.logged-user-average-score {
  color: #7a7e81;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
}

@media (max-width: 900px) {
  .logged-user-average-score {
    margin-bottom: 0;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .logged-user-average-score {
    font-size: 11px;
    text-align: center;
  }
}

.logged-user-stars-contianer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  margin-left: auto;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .logged-user-stars-contianer {
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .logged-user-stars-contianer {
    margin: auto;
  }
}

.logged-user-stars-container-overall {
  flex-wrap: wrap;
  width: 190px;
}

@media (max-width: 450px) {
  .logged-user-stars-container-overall {
    width: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
  }
}

.logged-user-stars-rating {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 10px;
}

.logged-user-stars-rating-overall {
  font-size: 35px;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .logged-user-stars-rating-overall {
    font-size: 30px;
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .logged-user-stars-rating-overall {
    font-size: 25px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .stars-layer-1-overall {
    margin-bottom: 25px;
    margin-top: -5px;
    font-size: 18px;
  }
}

.stars-layer-1 {
  position: relative;
  display: inline-block;
  color: #e8e9ea;
}

.stars-layer-1::before {
  content: "\2606\2606\2606\2606\2606";
}

.stars-layer-2 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ec1940;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-layer-2::before {
  content: "\2606\2606\2606\2606\2606";
}

.stars-layer-3 {
  position: absolute;
  top: 0;
  left: 0;
  color: #ec1940;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-layer-3::before {
  content: "\2605\2605\2605\2605\2605";
}

.logged-user-feddback-summary {
  color: #ec1940;
  font-size: 20px;
}

@media (max-width: 450px) {
  .logged-user-feddback-summary {
    text-align: center;
  }
}

.logged-user-feedbacks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feedbacks-checkbox {
  display: none;
}

.feedbacks-checkbox:checked + .feedbacks-checkbox-label .feedbacks-checkbox-label-down-arrow {
  transform: rotate(180deg);
}

.feedbacks-checkbox:checked ~ .logged-user-all-feedbacks {
  max-height: 1000vh;
  transition: all ease-in-out 1.5s;
}

.feedbacks-checkbox-label {
  font-size: 20px;
  border-bottom: 2px solid #d3d4d5;
  border-radius: 2px;
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}

.feedbacks-checkbox-label:hover {
  background-color: #afafaf;
}

@media (max-width: 450px) {
  .feedbacks-checkbox-label {
    font-size: 16px;
  }
}

.feedbacks-checkbox-label-down-arrow {
  margin-left: auto;
  margin-right: 15px;
  width: 15px;
  transition: transform ease-in-out 0.8s;
}

.logged-user-all-feedbacks {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.8s;
}

.logged-user-feedback {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 25px;
}

.feedbacks-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 450px) {
  .feedbacks-user-container {
    font-size: 14px;
  }
}

.feedbacks-user-profession {
  font-size: 14px;
  margin-top: 3px;
  color: #7a7e81;
}

@media (max-width: 450px) {
  .feedbacks-stars-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-left: auto;
  }
}

@media (max-width: 450px) {
  .feedbacks-rating-stars {
    font-size: 18px;
  }
}

.feedbacks-user-rating {
  color: #7a7e81;
  font-size: 25px;
  margin-top: 5px;
}

@media (max-width: 450px) {
  .feedbacks-user-rating {
    font-size: 18px;
  }
}

.feedbacks-comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.feedbacks-comment-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 450px) {
  .feedbacks-comment-type {
    font-size: 14px;
  }
}

.feedback-comment-list-bullet {
  margin-right: 10px;
  max-width: 25px;
}

.feedbacks-comment-text {
  margin-left: 35px;
  font-size: 16px;
  margin-top: 10px;
  max-width: 90%;
  word-wrap: break-word;
}

@media (max-width: 450px) {
  .feedbacks-comment-text {
    font-size: 14px;
  }
}

.feedback-status {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 350px;
}

.feedback-status-accepted {
  display: none;
}

.feedback-status-image {
  width: 75px;
  margin-bottom: 30px;
}

.feedback-status-title {
  color: #4e5357;
  font-size: 50px;
  margin-bottom: 30px;
}

.feedback-status-text {
  color: #7a7e81;
}

.admin-profile-form-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1500px) {
  .admin-profile-form-container {
    width: 130%;
  }
}

@media (max-width: 900px) {
  .admin-profile-form-container {
    width: 100%;
  }
}

.admin-profile-form-title {
  color: #ec1940;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 430px) {
  .admin-profile-form-title {
    font-size: 20px;
  }
}

.company-users-table-container {
  position: relative;
  margin-bottom: 25px;
}

.company-users-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.company-users-table-container {
  max-height: 250px;
  overflow: hidden;
  padding-top: 16px;
  border: 1px solid #cccccc;
}

.company-users-table-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.company-users-table-head {
  text-align: left;
}

@media (max-width: 1200px) {
  .company-users-table-head {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .company-users-table-head {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .company-users-table-head {
    font-size: 11px;
  }
}

@media (max-width: 380px) {
  .company-users-table-head {
    font-size: 10px;
  }
}

.company-users-table-head-content {
  text-align: left;
}

.company-users-table-head-content span {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  border-left: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding-left: 5px;
  letter-spacing: 1px;
  text-align: left;
  color: #7a7e81;
  font-weight: bold;
  z-index: 1;
}

.short-th {
  display: none;
}

@media (max-width: 1050px) {
  .short-th {
    display: block;
  }
}

.long-th {
  display: block;
}

@media (max-width: 1050px) {
  .long-th {
    display: none;
  }
}

.company-users-table-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.company-users-table-body-row {
  border-bottom: 1px solid #cccccc;
}

.company-users-table-body-data {
  border-left: 1px solid #cccccc;
  text-align: center;
  color: #7a7e81;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  padding-left: 5px;
}

@media (max-width: 700px) {
  .company-users-table-body-data {
    font-size: 12px;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 430px) {
  .company-users-table-body-data {
    font-size: 10px;
  }
}

.user-status-checkbox {
  display: none;
  margin: auto;
}

.user-status-checkbox:checked + .user-status-toggle-outer {
  background-color: #ec1940;
}

.user-status-checkbox:checked + .user-status-toggle-outer .user-status-toggle-inner {
  transform: translate(20px);
}

@media (max-width: 550px) {
  .user-status-checkbox:checked + .user-status-toggle-outer .user-status-toggle-inner {
    transform: translate(15px);
  }
}

@media (max-width: 430px) {
  .user-status-checkbox {
    display: block;
  }
}

.user-status-toggle-outer {
  cursor: pointer;
  display: block;
  background-color: gray;
  width: 45px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  margin: auto;
  transition: background-color ease-in-out 0.3s;
}

@media (max-width: 550px) {
  .user-status-toggle-outer {
    width: 35px;
    height: 20px;
  }
}

@media (max-width: 430px) {
  .user-status-toggle-outer {
    display: none;
  }
}

.user-status-toggle-inner {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  transition: transform ease-in-out 0.3s;
}

@media (max-width: 550px) {
  .user-status-toggle-inner {
    height: 15px;
    width: 15px;
  }
}

.users-table-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  background-color: #ec1940;
  color: white;
}

.users-table-button:hover {
  background-color: #ff7d95;
}

@media (max-width: 700px) {
  .users-table-button {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 430px) {
  .table-button-large-screen-text {
    display: none;
  }
}

.table-button-small-screen-text {
  display: none;
}

@media (max-width: 430px) {
  .table-button-small-screen-text {
    display: block;
  }
}

.users-table-center {
  text-align: center;
}

.admin-edit-user-form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.5s;
}

.admin-edit-user-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #363636;
}

@media (max-width: 900px) {
  .admin-edit-user-form {
    margin-bottom: auto;
    margin-top: 10px;
    width: 80%;
  }
}

.admin-edit-user-form-close {
  display: block;
  margin-left: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 18px;
}

.admin-edit-user-form-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ec1940;
}

.admin-edit-user-form-button {
  background-color: #ec1940;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  margin-top: 15px;
}

.admin-edit-user-form-button:hover {
  background-color: #ff7d95;
}

.admin-options-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px) {
  .admin-options-container {
    flex-direction: column;
    justify-content: center;
  }
}

.admin-add-new-user-form {
  width: 50%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .admin-add-new-user-form {
    width: 100%;
  }
}

.admin-forms-title {
  font-size: 20px;
  color: #ec1940;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
}

.admin-user-input {
  padding: 5px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 3px solid #d3d4d5;
  font-size: 16px;
  font-family: sans-serif;
  overflow: hidden;
  transition: border ease-in-out 0.3s;
}

.admin-user-edit-error {
  color: #5569d8;
  font-size: 14px;
  font-weight: bold;
  max-height: 0;
  margin-top: 5px;
  overflow: hidden;
  transition: max-height ease-in-out 0.5s;
}

.admin-user-input-label {
  color: #ec1940;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
  transition: all ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
}

.admin-user-input-label-visible {
  color: #ec1940;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
  transition: all ease-in-out 0.3s;
}

.admin-add-new-user-select {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-color: #ec1940;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  max-width: 300px;
  margin-bottom: 20px;
}

.admin-add-new-user-select-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ec1940;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 16px;
}

.admin-add-new-user-image-upload {
  display: none;
}

.admin-add-new-user-image-upload-custom {
  font-size: 16px;
  color: white;
  background-color: #ec1940;
  border-radius: 7px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px;
  max-width: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.admin-add-new-user-image-upload-custom:hover {
  background-color: #ff7d95;
}

.admin-add-new-user-image-upload-icon {
  width: 20px;
  margin-left: auto;
}

.admin-add-new-user-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 25px;
  margin-left: auto;
  background-color: #ec1940;
  color: white;
}

.admin-add-new-user-button:hover {
  background-color: #ff7d95;
}

.admin-stats-time-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 900px) {
  .admin-stats-time-container {
    width: 100%;
    margin-bottom: 25px;
  }
}

.admin-user-stats-container {
  display: flex;
  flex-direction: column;
}

.admin-user-stats {
  display: flex;
  font-size: 20px;
  color: #7a7e81;
  margin-top: 30px;
}

.admin-user-stats-info {
  margin-left: auto;
  color: #ec1940;
  text-align: right;
}

.admin-feedback-time-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.admin-feedback-time-form-select-container {
  display: flex;
  align-items: center;
}

.admin-feedback-time-form-select {
  cursor: pointer;
  outline: none;
  font-size: 18px;
  background-color: #ec1940;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  max-width: 300px;
}

.admin-feedback-time-form-button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  background-color: #ec1940;
  color: white;
}

.admin-feedback-time-form-button:hover {
  background-color: #ff7d95;
}

.super-admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.super-admin-welcome {
  margin-bottom: 25px;
  color: #ec1940;
}

@media (max-width: 900px) {
  .super-admin-welcome {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .super-admin-welcome {
    margin-right: 50px;
  }
}

@media (max-width: 390px) {
  .super-admin-welcome {
    font-size: 20px;
  }
}

.superadmin-forms-container {
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 25px;
  height: 750px;
  margin-top: 25px;
  margin-bottom: auto;
  background-color: white;
  z-index: 1;
}

.navigation-radio {
  display: none;
}

.navigation-radio:checked + .navigation-div {
  display: flex;
}

.super-admin-navigation-bar {
  position: absolute;
  display: flex;
  align-items: flex-end;
  height: 35px;
  flex-direction: row;
  top: -34px;
  left: -1px;
  z-index: 0;
}

.navigation-label {
  background-color: white;
  color: #7a7e81;
  border: 1px solid #cccccc;
  margin-right: 0;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  margin-top: auto;
  max-height: 0;
  overflow: hidden;
  display: block;
  transition: max-height ease-in-out 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.navigation-label:hover {
  max-height: 100vh;
}

@media (max-width: 900px) {
  .navigation-label {
    max-height: 100vh;
  }
}

@media (max-width: 325px) {
  .navigation-label {
    font-size: 14px;
  }
}

.nav-label-selected {
  color: #ec1940;
  max-height: 100vh;
}

.navigation-div {
  display: none;
  flex-direction: column;
}

.super-admin-titles {
  margin-bottom: 35px;
  color: #7a7e81;
}

.super-admin-input {
  padding: 5px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 3px solid #d3d4d5;
  font-family: sans-serif;
  overflow: hidden;
  transition: border ease-in-out 0.3s;
}

.super-admin-button {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #ec1940;
  outline: none;
}

.super-admin-button:hover {
  background-color: #ff7d95;
}

.add-a-company-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .add-a-company-container {
    flex-direction: column;
  }
}

.add-a-company-input {
  margin-right: auto;
  width: 80%;
}

@media (max-width: 900px) {
  .add-a-company-input {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {
  .add-company-button {
    margin-left: auto;
    padding: 10px;
  }
}

.add-a-company-label {
  width: 100%;
}

.super-admin-search-company {
  width: 80%;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .super-admin-search-company {
    width: 100%;
  }
}

.all-companies-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.super-admin-company-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 430px) {
  .super-admin-company-container {
    flex-wrap: wrap;
  }
}

.super-admin-company-input {
  padding: 0;
  padding: 5px;
  padding-right: 10px;
  margin-left: 25px;
  width: 30%;
  font-size: 16px;
}

@media (max-width: 1365px) {
  .super-admin-company-input {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .super-admin-company-input {
    width: 75px;
    margin-right: 15px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .super-admin-company-input {
    margin: 0;
    margin-left: 15px;
  }
}

@media (max-width: 1365px) {
  .super-admin-company-button-large-screen {
    display: none;
  }
}

.super-admin-company-button-small-screen {
  display: none;
}

@media (max-width: 1365px) {
  .super-admin-company-button-small-screen {
    display: block;
  }
}

.super-admin-add-company-error {
  display: block;
  font-size: 12px;
  color: #5569d8;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  margin-bottom: 20px;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 900px) {
  .super-admin-add-company-error {
    margin-top: -45px;
  }
}

.super-admin-company-name {
  font-size: 18px;
  margin-right: 25px;
  color: #ec1940;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.super-admin-company-name:hover {
  white-space: initial;
  text-overflow: initial;
  overflow-wrap: break-word;
}

@media (max-width: 1365px) {
  .super-admin-company-name {
    font-size: 16px;
    width: 75px;
  }
}

@media (max-width: 430px) {
  .super-admin-company-name {
    font-size: 12px;
    margin-right: 10px;
    width: 50px;
  }
}

.super-admin-company-activity {
  margin-right: auto;
  color: #5569d8;
  width: 50px;
}

@media (max-width: 1365px) {
  .super-admin-company-activity {
    width: 25px;
  }
}

@media (max-width: 500px) {
  .super-admin-company-activity {
    display: none;
  }
}

.super-admin-company-checkbox {
  display: none;
}

@media (max-width: 500px) {
  .super-admin-company-checkbox {
    display: block;
  }
}

.super-admin-company-checkbox:checked + .super-admin-toggle-outer {
  background-color: #ec1940;
}

.super-admin-company-checkbox:checked + .super-admin-toggle-outer .super-admin-toggle-inner {
  transform: translate(20px);
}

@media (max-width: 1365px) {
  .super-admin-company-checkbox:checked + .super-admin-toggle-outer .super-admin-toggle-inner {
    transform: translate(15px);
  }
}

@media (max-width: 940px) {
  .super-admin-company-checkbox:checked + .super-admin-toggle-outer .super-admin-toggle-inner {
    transform: translate(11px);
  }
}

@media (max-width: 900px) {
  .super-admin-company-checkbox:checked + .super-admin-toggle-outer .super-admin-toggle-inner {
    transform: translate(13px);
  }
}

.super-admin-toggle-outer {
  cursor: pointer;
  display: block;
  background-color: gray;
  width: 45px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  margin: auto;
  transition: background-color ease-in-out 0.3s;
}

@media (max-width: 1365px) {
  .super-admin-toggle-outer {
    width: 35px;
    height: 20px;
  }
}

@media (max-width: 940px) {
  .super-admin-toggle-outer {
    width: 30px;
    height: 18px;
  }
}

@media (max-width: 500px) {
  .super-admin-toggle-outer {
    display: none;
  }
}

.super-admin-toggle-inner {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 2px;
  left: 2px;
  transition: transform ease-in-out 0.3s;
}

@media (max-width: 1365px) {
  .super-admin-toggle-inner {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 940px) {
  .super-admin-toggle-inner {
    width: 13px;
    height: 13px;
  }
}

.super-admin-company-button {
  margin-left: auto;
}

@media (max-width: 430px) {
  .super-admin-company-button {
    padding: 4px;
    margin-right: 15px;
  }
}

@media (max-width: 390px) {
  .super-admin-company-button {
    margin-bottom: 5px;
  }
}

.super-admin-add-admins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.super-admin-add-admin-title {
  margin-bottom: 10px;
  color: #7a7e81;
  width: 100%;
}

.add-admin-label {
  font-size: 14px;
  color: #ec1940;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.add-admin-label-visible {
  font-size: 14px;
  color: #ec1940;
  margin-bottom: 5px;
}

.add-admin-input-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: auto;
}

@media (max-width: 900px) {
  .add-admin-input-container {
    width: 100%;
  }
}

.add-admin-email-container {
  width: 95%;
}

.add-admin-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.super-admin-add-admins-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #d3d4d5;
  outline: none;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 900px) {
  .super-admin-add-admins-input {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 2px;
  }
}

.super-admin-add-admin-error {
  display: block;
  font-size: 12px;
  color: #5569d8;
  opacity: 0;
  visibility: hidden;
  margin-top: -10px;
  max-height: 0;
  margin-bottom: 20px;
  transition: all ease-in-out 0.5s;
}

.super-admin-add-admins-select {
  color: white;
  font-size: 16px;
  background-color: #ec1940;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 5px;
  max-width: 250px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .super-admin-add-admins-select {
    margin-bottom: 5px;
    font-size: 14px;
    padding: 3px;
  }
}

.super-admin-add-admin-button {
  width: 350px;
  margin-left: auto;
}

.super-admin-all-admins {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.super-admin-admin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .super-admin-admin-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 326px) {
  .super-admin-admin-container {
    flex-wrap: nowrap;
  }
}

.super-admin-admin-name {
  color: #ec1940;
  width: 160px;
  margin-right: 5px;
}

@media (max-width: 1220px) {
  .super-admin-admin-name {
    font-size: 14px;
    width: 100px;
  }
}

@media (max-width: 430px) {
  .super-admin-admin-name {
    font-size: 12px;
    width: 65px;
  }
}

.super-admin-admin-email {
  width: 250px;
  margin: auto;
  color: #ec1940;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
}

.super-admin-admin-email:hover {
  white-space: initial;
  text-overflow: initial;
  overflow: visible;
}

@media (max-width: 1220px) {
  .super-admin-admin-email {
    font-size: 12px;
    width: 200px;
  }
}

@media (max-width: 500px) {
  .super-admin-admin-email {
    width: 100px;
    font-size: 11px;
  }
}

.super-admin-admin-company-name {
  color: #5569d8;
  width: 100px;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.super-admin-admin-company-name:hover {
  white-space: initial;
  text-overflow: initial;
  overflow-wrap: break-word;
}

@media (max-width: 1220px) {
  .super-admin-admin-company-name {
    font-size: 12px;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 900px) {
  .super-admin-admin-company-name {
    margin-right: auto;
  }
}

@media (max-width: 385px) {
  .super-admin-admin-company-name {
    font-size: 11px;
    width: 40px;
  }
}

.super-admin-admins-button {
  margin-right: 15px;
}

@media (max-width: 900px) {
  .super-admin-admins-button {
    margin-right: 5px;
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .super-admin-admins-button {
    padding: 5px;
  }
}

@media (max-width: 410px) {
  .super-admin-admins-button {
    margin-left: auto;
    margin-bottom: 5px;
  }
}

@media (max-width: 350px) {
  .super-admin-admins-button {
    font-size: 10px;
    padding: 3px;
  }
}

.super-admin-admin-button-small-screen {
  display: none;
}

@media (max-width: 1220px) {
  .super-admin-admin-button-small-screen {
    display: block;
  }
}

@media (max-width: 1220px) {
  .super-admin-admin-button-large-screen {
    display: none;
  }
}

.edit-admin-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.edit-admin-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border: 1px solid #cccccc;
  box-shadow: 4px 4px 8px black;
  border-radius: 5px;
  width: 350px;
  max-width: 500px;
  z-index: 10;
}

.edit-admin-input {
  margin-bottom: 15px;
}

.edit-admin-form-close {
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.add-job-title-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

@media (max-width: 900px) {
  .add-job-title-input-container {
    flex-direction: column;
  }
}

.super-job-input {
  width: 80%;
  margin-right: auto;
}

@media (max-width: 900px) {
  .super-job-input {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {
  .add-job-button {
    margin-left: auto;
    padding: 10px;
  }
}

.super-admin-add-job-error {
  display: block;
  font-size: 12px;
  width: 100%;
  color: #5569d8;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  margin-bottom: 20px;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 900px) {
  .super-admin-add-job-error {
    margin-top: -45px;
  }
}

.search-job-input {
  margin-bottom: 35px;
}

.add-a-job-label {
  width: 100%;
}

.super-all-jobs-title {
  margin-bottom: 10px;
  color: #7a7e81;
  width: 100%;
}

.all-jobs-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.job-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

@media (max-width: 400px) {
  .job-title-container {
    flex-wrap: wrap;
  }
}

.job-name {
  color: #ec1940;
  margin-right: auto;
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.job-name:hover {
  white-space: initial;
  text-overflow: initial;
  overflow-wrap: break-word;
}

@media (max-width: 1030px) {
  .job-name {
    font-size: 14px;
  }
}

.edit-job-name {
  margin-right: auto;
  padding: 2px;
  width: 30%;
  min-width: 130px;
}

@media (max-width: 1030px) {
  .edit-job-name {
    font-size: 14px;
  }
}

.jobs-button {
  margin-left: auto;
}

@media (max-width: 400px) {
  .jobs-button {
    padding: 3px;
  }
}

@media (max-width: 330px) {
  .jobs-button {
    margin-bottom: 5px;
  }
}

@media (max-width: 900px) {
  .super-jobs-button-large-screen {
    display: none;
  }
}

.super-jobs-button-small-screen {
  display: none;
}

@media (max-width: 900px) {
  .super-jobs-button-small-screen {
    display: block;
  }
}

.add-new-skill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

@media (max-width: 900px) {
  .add-new-skill-container {
    flex-direction: column;
  }
}

.add-a-skill-label {
  width: 100%;
}

.add-new-skill-input {
  width: 80%;
  margin-right: auto;
}

@media (max-width: 900px) {
  .add-new-skill-input {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 900px) {
  .add-new-skill-button {
    margin-left: auto;
    padding: 10px;
  }
}

.super-admin-add-skill-error {
  display: block;
  font-size: 12px;
  width: 100%;
  color: #5569d8;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  margin-bottom: 20px;
  transition: all ease-in-out 0.5s;
}

@media (max-width: 900px) {
  .super-admin-add-skill-error {
    margin-top: -45px;
  }
}

.all-skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.skill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

@media (max-width: 400px) {
  .skill-container {
    flex-wrap: wrap;
  }
}

.skill-name {
  color: #ec1940;
  margin-right: auto;
  max-width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.skill-name:hover {
  white-space: initial;
  text-overflow: initial;
  overflow-wrap: break-word;
}

@media (max-width: 1030px) {
  .skill-name {
    font-size: 14px;
  }
}

.change-skill-input {
  margin-right: auto;
  padding: 2px;
  width: 30%;
  min-width: 130px;
}

@media (max-width: 1030px) {
  .change-skill-input {
    font-size: 14px;
  }
}

.skill-button {
  margin-left: auto;
}

@media (max-width: 400px) {
  .skill-button {
    padding: 3px;
  }
}

@media (max-width: 330px) {
  .skill-button {
    margin-bottom: 5px;
  }
}

@media (max-width: 900px) {
  .super-skills-button-large-screen {
    display: none;
  }
}

.super-skills-button-small-screen {
  display: none;
}

@media (max-width: 900px) {
  .super-skills-button-small-screen {
    display: block;
  }
}

.super-all-skills-title {
  margin-bottom: 10px;
  color: #7a7e81;
  width: 100%;
}

